/* Amiri */
@font-face {
    font-family: 'Amiri';
    src: url('/fonts/Amiri/Amiri-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Amiri';
    src: url('/fonts/Amiri/Amiri-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Amiri';
    src: url('/fonts/Amiri/Amiri-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Amiri';
    src: url('/fonts/Amiri/Amiri-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/*  Cairo  */
@font-face {
    font-family: 'Cairo';
    src: url('/fonts/Cairo/Cairo-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cairo';
    src: url('/fonts/Cairo/Cairo-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cairo';
    src: url('/fonts/Cairo/Cairo-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Cairo';
    src: url('/fonts/Cairo/Cairo-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/*  Noto  */
@font-face {
    font-family: 'Noto';
    src: url('/fonts/Noto/NotoSansArabic_Condensed-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto';
    src: url('/fonts/Noto/NotoSansArabic_Condensed-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Noto';
    src: url('/fonts/Noto/NotoSansArabic_Condensed-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Noto';
    src: url('/fonts/Noto/NotoSansArabic_Condensed-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/*  Playpen Sans  */
@font-face {
    font-family: 'Playpen';
    src: url('/fonts/Playpen/PlaypenSansArabic-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Playpen';
    src: url('/fonts/Playpen/PlaypenSansArabic-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Playpen';
    src: url('/fonts/Playpen/PlaypenSansArabic-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Playpen';
    src: url('/fonts/Playpen/PlaypenSansArabic-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/*  Tajawal  */
@font-face {
    font-family: 'Tajawal';
    src: url('/fonts/Tajawal/Tajawal-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Tajawal';
    src: url('/fonts/Tajawal/Tajawal-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Tajawal';
    src: url('/fonts/Tajawal/Tajawal-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Tajawal';
    src: url('/fonts/Tajawal/Tajawal-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}